.edit-role {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    border: none;
    border-radius: 10px;
    width: clamp(350px, 40vw, 50vw);
}

.form-role {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


.button-edit {
    padding: .8rem;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .4rem;
    border-radius: 10px;
    background: var(--button-green);
    transition: all .2s ease;
    font-weight: 400;
}

