.create-technique-page {
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.create-technique-form {
    display: flex;
    flex-direction: column;
    gap: .6rem;
}

.create-technique-form select,
.create-technique-form input,
.create-technique-form textarea {
    padding: .6rem;
    border-radius: 10px;
    resize: none;
    border: 1px solid var(--border-container);
}

.create-technique-form select:hover,
.create-technique-form input:hover,
.create-technique-form textarea:hover {
    box-shadow: var(--shadow-hover);
}

.button-group {
    margin-top: .4rem;
    display: flex;
    justify-content: flex-end;
    gap: .8rem;
}

.cancel-button-technique {
    padding: .6rem .8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .2rem;
    border-radius: 10px;
    border: none;
    background: linear-gradient(to top, #000000, #474747);
    transition: all .2s ease;
    color: #ffffff;
    white-space: nowrap;
}

.cancel-button-technique:hover {
    transform: translateY(-5px);
}

.create-button-technique {
    padding: .6rem .8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .2rem;
    border-radius: 10px;
    border: none;
    background: var(--button-green);
    transition: all .2s ease;
    white-space: nowrap;
}

.create-button-technique:hover {
    transform: translateY(-5px);
}
