.processes {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.processes-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.processes-header h2 {
    font-size: 1.4rem;
    font-weight: 400;
}

.button-create-process,
.button-cancel-create {
    padding: .6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .4rem;
    border: none;
    border-radius: 10px;
    background: var(--button-green);
    transition: all .2s ease;
}

.button-create-process:hover,
.button-cancel-create:hover {
    transform: translateY(-5px);
}

.processes-list {
    padding: 1rem 0;
    display: grid;
    grid-template-columns: auto-fit;
    gap: 1.2rem;
}

.process {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--border-container);
    border-radius: 10px;
    overflow: hidden;
}

.process-header {
    padding: 1.2rem;
    display: flex;
    background-color: #ffff;
    align-items: center;
    justify-content: space-between;
}

.no-processes {
    margin: 1.2rem 0;
    padding: 1.6rem;
    border: 1px solid var(--border-container);
    border-radius: 10px;
    text-align: center;
    color: var(--info-text);
}

.about-process {
    display: flex;
    align-items: center;
    gap: .8rem;
}

.process-header h3 {
    font-weight: 500;
}

.left-header-process {
    display: flex;
    align-items: center;
    gap: .8rem;
}

.subprocess-counter {
    font-size: .8rem;
    border: 1px solid var(--border-container);
    padding: .2rem .5rem;
    border-radius: 8px;
    white-space: nowrap;
}

.actions-process-buttons {
    display: flex;
    align-items: center;
    gap: .8rem;
}

.button-edit-process,
.button-delete-process {
    border: none;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rol-participante {
    padding: 0 1.2rem;
    display: flex;
    align-items: center;
    gap: .2rem;
    font-size: .8rem;
}

.rol-participante small {
    color: var(--info-text);
    font-size: .8rem;
}

.process-body {
    padding: 1.2rem;
}