.form-technique {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: .8rem;
    overflow-y: auto;
}

.form-header-technique {
    display: flex;
    flex-direction: column;
    gap: .4rem;
}

.form-header-technique h1 {
    font-size: 1.6rem;
    font-weight: 500;
}

.form-header-technique p {
    color: var(--info-text);
}

.principal-info-technique {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    border: 1px solid var(--border-container);
    background: #ffffff;
    border-radius: 15px;
}

.technique-type,
.technique-status,
.last-update-technique {
    display: flex;
    flex-direction: column;
    gap: .2rem;
}

.buttons-techniques-section {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: .8rem;
}

.button-cancel-changes {
    border-radius: 10px;
    border: 1px solid var(--border-container);
    background: #ffffff;
    padding: .5rem .6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .4rem;
    transition: all .2s ease;
}

.button-confirm-changes {
    background: var(--button-green);
    border-radius: 10px;
    border: none;
    padding: .5rem .6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .4rem;
    transition: all .2s ease;
}

.button-cancel-changes:hover, 
.button-confirm-changes:hover {
    transform: translateY(-5px);
}