.panel-control {
    padding: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: black;
    gap: 2rem;
}

.panel-header {
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 1rem;
}

.panel-title {
    font-size: 1.5rem;
}

.panel-body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem
}

.button-new-project {
    padding: .6rem;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid;
}