.panel-control {
    display: flex;
    color: black;
}

.dashboard-main {
    flex: 1;
}

.button-new-project,
.button-cancel-project {
    padding: .6rem;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .3rem;
    background: linear-gradient(to top, #5DC757, #D1ED53);
    transition: all .2s ease;
    border: none;
    font-weight: 600;
    white-space: nowrap;
}

.button-new-project:hover,
.button-cancel-project:hover {
    transform: translateY(-5px);
}

.dashboard-sidebar {
    height: 100dvh;
    display: flex;
    flex-direction: column;
    border-right: 1px solid var(--border-container);
    min-width: 30dvh;
}

.dashboard-sidebar button {
    border: none;
    background-color: transparent;
    font-size: .8rem;
}

.header-sidebar {
    padding: 1.2rem;
    width: 100%;
    border-bottom: 1px solid var(--border-container);
}

.header-sidebar h2 {
    font-size: 1rem;
    text-align: center;
}

.button-container {
    padding: 1rem;
    border-bottom: 1px solid var(--border-container);
}

.button-dashboard {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: .8rem;
}

.resume-sidebar {
    padding: 1rem;
    gap: 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    font-size: .8rem;
    border-bottom: 1px solid var(--border-container);
}

.resume-list {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr auto;
    gap: .4rem;
}

.resume-list dt {
    display: flex;
    align-items: center;
    gap: .4rem;
    color: #6c6c6c;
}

.icon-planning,
.icon-progress,
.icon-complete,
.icon-cancel {
    border-radius: 50%;
    height: .5rem;
    width: .5rem;
}

.icon-planning {
    background-color: #a163f3;
}

.icon-progress {
    background-color: #fecf00;
}

.icon-complete {
    background-color: #5DC757;
}

.icon-cancel {
    background-color: #ff0000;
}

.all-projects,
.count-all-projects {
    font-size: .9rem;
}