* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-family: -apple-system, BlinkMacSystemFont, 
            "SF Pro Text", "SF Pro Display",
            Helvetica, Arial, sans-serif;
}

input,
textarea,
button,
select {
    font: inherit;
}

:root {
    --container: #f8f8f8;
    --border-container: #d8d8d8;
    --info-text: #6c6c6c;
    --shadow-container: 0 0 10px rgba(0, 0, 0, 0.200);
    --button-green: linear-gradient(to top, #5DC757, #D1ED53);
    --buton-black: linear-gradient(to top, #000000, #474747);
    --background-purple: #a163f3;
    --small-color: #505050;
    --shadow-hover: 0px 5px 5px rgba(0, 0, 0, 0.130);
}

/* Estilos dinámicos para los estados de los proyectos */
.planificacion {
    background-color: #a163f377;
}

.en-progreso {
    background-color: #fecf0077;
}

.completado {
    background-color: #5DC75777;
}

.cancelado {
    background-color: #ff000077;
}

button {
    cursor: pointer;
}

@media (max-width: 768px) {
    html {
        font-size: 14px;
    }
}

@media (min-width: 2560px) {
    html {
        font-size: 26px;
    }
}