* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    --container: #EBEBEB;
    --border-container: #C5C5C5;
}

button {
    cursor: pointer;
}