* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-family: -apple-system, BlinkMacSystemFont, 
            "SF Pro Text", "SF Pro Display",
            Helvetica, Arial, sans-serif;
}

input,
textarea,
button,
select {
    font: inherit;
}

:root {
    --container: #f8f8f8;
    --border-container: #d8d8d8;
    --shadow-container: 0 0 10px rgba(0, 0, 0, 0.200);
    --button-green: linear-gradient(to top, #5DC757, #D1ED53);
    --buton-black: linear-gradient(to top, #000000, #474747);
    --background-purple: #a163f3;
    --small-color: #505050;
    --shadow-hover: 0px 5px 5px rgba(0, 0, 0, 0.130);
}

button {
    cursor: pointer;
}