.stakeholders {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

.stakeholders-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button-add-stake,
.button-cancel-add {
    padding: .6rem;
    border: none;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--button-green);
    transition: all .2s ease;
}

.button-add-stake:hover,
.button-cancel-add:hover {
    transform: translateY(-5px);
}

.stakeholders-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 1rem;
}

.stakeholder {
    padding: 1.4rem;
    display: flex;
    flex-direction: column;
    gap: .8rem;
    border: 1px solid var(--border-container);
    border-radius: 10px;
}

.stakeholder-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.stake-info {
    display: flex;
    flex-direction: column;
    gap: .4rem;
}

.stake-info h3 {
    font-size: 1rem;
    font-weight: 500;
}

.stake-info p {
    color: var(--small-color);
    font-size: .8rem;

}

.button-edit-stake {
    border: none;
    background-color: transparent;
}

.rol-div,
.email-div {
    display: flex;
    align-items: center;
    gap: .4rem;
    color: var(--small-color);
}

.stakeholder-body {
    display: flex;
    flex-direction: column;
    gap: .6rem;
}

.header-stakeholder-body {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-stakeholder-body span {
    font-weight: 500;
    font-size: .7rem;
    padding: .1rem .4rem;
    border: 1px solid var(--border-container);
    border-radius: 10px;
}

.add-person {
    border: 1px solid var(--border-container);
    background: transparent;
    padding: .4rem;
    border-radius: 10px;
    font-size: .8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .2rem;
}