.projects-resume {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
}

.total-projects,
.in-progress,
.complete-projects {
    padding: 1.5rem;
    border-radius: 10px;
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.150);
    justify-content: space-between;
}

.icon-folder,
.icon-play,
.icon-check {
    background: var(--buton-black);
    padding: .6rem;
    color: #ffff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}